<div id="home-container-{{containerNumber}}" class="bg-light p-5 rounded-lg m-3">
    <div class="d-flex align-items-center">
        {{#if markText}}
        <h3><mark>{{markText}}</mark></h3>
        {{ else }}
        <h3>{{text}}</h3>
        {{/if}}
    </div>
</div>