<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
  <title>Groupomania - Register</title>
</head>

<body>

  {{!-- NAVBAR --}}
  {{!-- {{> navbarDefault}} --}}
  
  <div class="container py-4">

    <div class="bg-light p-5 rounded-lg m-3">

      <h4>Register</h4>

      {{#if message}}
      <h4 class="alert alert-success mt-4">{{message}}</h4>
      {{/if}}

      <form action="/auth/register" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="name" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="pass" name="password">
        </div>
        <div class="mb-3">
          <label for="passConfirm" class="form-label">Password Confirm</label>
          <input type="password" class="form-control" id="passConfirm" name="passwordConfirm">
        </div>
        <div class="mb-3">
          <label for="role">
            <input type="hidden" name="role" value="admin">
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>