@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --white: #fff;
  --red: #fd2d01;
  --grey: #707070;
  --grey2: #3f3f3f;
  --grey-light: #aaa;
  --grey-light2: #ececec;
  --black: #000;
}

a {
  text-decoration: none;
  color: var(--grey);
}

button {
  cursor: pointer;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white: #333;
  --grey: #f2f2f2;
  --grey2: #bdbdbd;
  --grey-light: #aaa;
  --grey-light2: #5d5d5d;
  --red: #fd2d01;
  --black: #fff;
}

.navbar .groupomania {
  color: var(--white);
}

/* navbar */
.navbar {
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 16px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-light);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
}

.img_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img_item img {
  width: 32px;
}

.navbar_content img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey);
}

/* sidebar */
.sidebar {
  background-color: var(--white);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-light);
  transition: all 0.5s ease;
  scrollbar-width: none;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey);
  white-space: nowrap;
}

.menu_dashboard::before {
  content: "Dashboard";
}

.menu_setting::before {
  content: "Setting";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white);
  background: var(--red);
  transition: all 0.5s ease;
}

.sidebar.close .nav_link:hover {
  background: var(--white);
  transition: all 0.5s ease;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey);
  border-top: 1px solid var(--grey-light);
  background-color: var(--white);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey);
  }

  .sidebar.close {
    left: -100%;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }

}

@media screen and (max-width: 830px) {
  .write {
    justify-content: center;
  }
}

/* post */
textarea {
  resize: none;
}

.write_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: safe;
  padding: 15px 16px;
  z-index: 0;
  box-shadow: 0 0 2px var(--grey-light);
}

.write form {
  width: 55%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.write {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.write button {
  width: 45px;
  height: 40px;
  background: var(--red);
  border: none;
  border-radius: 22px;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
}

.write form textarea {
  width: 100%;
  height: 50%;
  outline: none;
  padding: 5px;
}

/* _____ */

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-profile {
  width: 50px;
}

.img-profile img {
  width: 100%;
  border-radius: 50px;
}

.left-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-profile p {
  font-size: 18px;
  color: var(--grey);
}

.post {
  background-color: var(--white);
  box-shadow: 0px 0px 3px 0px var(--grey2);
  border-radius: 10px;
  margin: 15px;
  padding: 12px 18px;
}

.dots-profile {
  font-size: 22px;
}

.content-profile {
  margin-top: 6px;
  color: var(--black);
}

.comments-likes {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.comments-likes button {
  background: transparent;
  border: none;
  margin-top: 10px;
}

.comments button {
  font-size: 18px;
  color: var(--black);
}

.likes button {
  font-size: 20px;
  color: var(--black);
}

.drop {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  font-size: 16px;
  padding: 5px 12px;
  cursor: pointer;
}

.drop:hover {
  background-color: var(--grey-light2);
}

.edit {
  border-radius: 6px 6px 0 0;
  color: var(--black);
}

.delete {
  border-radius: 0 0 6px 6px;
  color: var(--black);
}

.dropdown-dots {
  border-radius: 6px;
  box-shadow: 0 0 3px 0 var(--black);
  display: none;
}